*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.custom-bg{
    background-color: #2ec1ac;
    border: 1px solid #279e8c;
}

.custom-bg:hover{
    background-color: #279e8c;
    border-color: #279e8c;
    
}


    /* input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    } */

.availability-form{
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 575px) {
    .availability-form{
        margin-top: 0px;
        padding: 0 35px;
    }
}

































































































































































